$main-font: "Roboto", "Open Sans", sans-serif;

$text-color: #ffffff;
$black-color: #0e0e0e;
$brand-color: #ffcc00;
$popup-background-color: #171717;
$scroll-background-color: #2e2e2e;

$font-style: normal;
$font-weight-reg: 400;
$font-weight-bold: 700;

$mobile-width: 320px;
$mobile-padding: 15px;

$desktop-width: 1300px;
$desktop-padding: 70px;
